.flip-card {
    background-color: transparent;
    width: 320px;
    height: 380px;
    perspective: 1000px;
    font-family: sans-serif;
}

.title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid coral;
    border-radius: 1rem;

}

.flip-card-front {
    background: linear-gradient(120deg, rgb(30, 31, 34) 30%, #39393a 88%,
    #fdb289 40%, rgb(253, 178, 137) 78%);
    color: white;
}

.flip-card-back {
    background: linear-gradient(120deg, rgb(30, 31, 34) 30%, #39393a 88%,
    #fdb289 40%, rgb(253, 178, 137) 78%);
    color: white;
    transform: rotateY(180deg);
}

.reduceFontSizeImports {
    font-size: 10px;
}

.reduceFontSize {
    font-size: 13.5px;
}

.pinkWordColor {
    color: #ff5fe4;
}

.orangeWordColor {
    color: #fdb289;
}

.yellowWordColor {
    color: #fff200;
}

.customBin{
    scale: 1.5;
    margin-left: 48%;
    border: none;
    background: none;
    color: #dc1c1c;
}

.customLogoutButton{
    background: none;
    border: none;
    padding-left: 15px;
    padding-top: 15px;
    font-weight: bold;
}

.customTextSize{
    font-size: 30px;
}